@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.CodeMirror * {
/*          ^
*/
  font-size: 20px;
}
/* Editor css

.top-pane{
  background-color: hsl(225, 6%, 25%);
}
.pane{
  height:55vh;
  display: flex;
}



.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: .5rem;
  background-color: #282a36 ;
  border: .3px solid #393d55;
  border-radius: .5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left:2px;
}

.editor-title {
   background-color: #1c1e29;
   color: white;
   width: 100%;
  padding: .5rem .5rem .5rem 1rem;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  text-align: center;
}
.center-div{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.CodeMirror{
  height: 100%  !important;
}
.code-mirror-wrapper{
  flex-grow: 1;
    border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  overflow: hidden;
}
.editor-container.collapsed{
  flex-grow: 0;
}
.editor-container.collapsed .CodeMirror-scroll{
  position: absolute;
  overflow: hidden !important;
}

.CodeMirror{
  max-width: 33vw;
}

@media (max-width: 600px) {
  .pane{
    display:flex;
  flex-direction:column;
  height: 60vh;
 max-height:  60vh;
  flex:1;
  }
  .CodeMirror{
   max-width: 100vw;
     max-height: 10vh;
}
}
 */

.MuiDrawer-paper {
width: 30% !important;
}

@media (max-width: 900px) {
    .MuiDrawer-paper {
 width: 38% !important;
 }
}
@media (max-width: 600px) {
    .MuiDrawer-paper {
 width: 80% !important;
 }
}