.main_div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.clientsList{
    display: flex;
    margin-top:"15px";
    flex-wrap: wrap;
    gap: 20px;
}
.centerPeople{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}