.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.change-container{
    background-color: #282a36;
          height: 90vh;
          display: flex;
          justify-content: center;
          align-items: center;
}
.formDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}